<h1>くめちゃんのページ</h1>
<div id="kume">
  このサイトは　私が　占拠した！<br>
  要求を言う。<br>
  お題に答えるんだ。<br>
</div>

<div id="kume">
	<% link_to 'Index Page' %>
	<% link_to 'http://google.com' %>
	<%= link_to 'Index Page', '/books/index' %>
--> <a href="/books/index">Index Page</a>
</div>
