// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#odai{
	margin:auto;
	margin-top:50px;
	margin-bottom:10px;
	width:80%;
	height:40px;
	border: 1px solid #000;
}