// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
	list-style-type: none;
	border:0;
	padding:10px;
}

#nav{
	width:100%;
	height:38px;
	position:fixed;
	top:0px;
	margin:0 auto;
	padding:0;
	color:white;
	background: -moz-linear-gradient(top, rgba(85,163,201,1) 0%, rgba(50,97,120,1) 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(85,163,201,1)), color-stop(88%,rgba(50,97,120,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(85,163,201,1) 0%,rgba(50,97,120,1) 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(85,163,201,1) 0%,rgba(50,97,120,1) 88%); /* Opera 11.10+ */
	background: linear-gradient(to bottom, rgba(85,163,201,1) 0%,rgba(50,97,120,1) 88%); /* W3C */
	font-family:'Lucida Grande', Arial, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	
	li {
		height:30px;
		float:left;
		border:none;
		margin-right:0px;
		padding-top:10px;
	}
	#mypage{
		width:20%;
	}
	#title{
		width:57.9%;
		font-size:120%;
	}
	#question{
		width:20%;
	}
}

#mymenu{
	width:30%;
	float: left;
	background-color:gray;
	}
	
#mycontents{
	width:70%;
	float:right;
	background-color:blue;
}
#sita{
	clear:right;
}